body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,sans-serif;
    background:#f2f2f7;
    color:#1d1d1f;
}

.app{
    max-width:700px;
    margin:auto;
    padding:30px;
}

h1{
    font-size:32px;
    font-weight:600;
    margin-bottom:20px;
}

input[type=file]{
    background:white;
    padding:15px;
    border-radius:14px;
    border:none;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    width:100%;
    margin-bottom:25px;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:white;
    margin-bottom:12px;
    padding:16px;
    border-radius:16px;
    box-shadow:0 4px 12px rgba(0,0,0,0.06);
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#suggestion{
    margin-top:15px;
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 6px 20px rgba(0,0,0,0.08);
    font-size:18px;
}
